---
layout: default
---

<div class="home">

  <div class="posts-panel">

    <!-- Panel's content -->
    <div class="panel-content">

      <section>
        Ne cherchez plus votre futur logement!
      </section>

      <form>
        <label>Villes
          <select multiple>
            {% for city in site.data.cities %}
              <option value="{{ city.name }}">{{ city.name }}</option>
            {% endfor %}
          </select>
        </label>
        <fieldset class="large-6 cell">
          <legend>Type de bien</legend>
          <input id="appartement" type="checkbox"><label for="appartement">Appartement</label>
          <input id="maison" type="checkbox"><label for="maison">Maison</label>
          <input id="terrain" type="checkbox"><label for="terrain">Terrain</label>
        </fieldset>
        <label>Budget
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-6 cell">
                <input id="budget-min" type="number" placeholder="Min">
              </div>
              <div class="medium-6 cell">
                <input id="budget-max" type="number" placeholder="Max">
              </div>
            </div>
          </div>
        </label>
        <label>Nombre de chambres et salles de bain
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-6 cell">
                <input id="budget-min" type="number" placeholder="Nb de chambres">
              </div>
              <div class="medium-6 cell">
                <input id="budget-max" type="number" placeholder="Nb de salles de bain">
              </div>
            </div>
          </div>
        </label>
        <label>Surface
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-6 cell">
                <input id="surface-min" type="number" placeholder="Min">
              </div>
              <div class="medium-6 cell">
                <input id="surface-max" type="number" placeholder="Max">
              </div>
            </div>
          </div>
        </label>
        <label>Prénom
          <input id="prenom" type="text">
        </label>
        <label>Nom
          <input id="nom" type="text">
        </label>
        <label>E-mail
          <input id="email" type="email">
        </label>
      </form>

    </div>
  </div>

</div>
