---
layout: default
---

<main>
  <h1 class="mdc-typography--headline text-center">Cherchons votre futur logement!</h1>

  <form id="hunt-form" name="hunt" action=# netlify class="douskay-form mdc-layout-grid max-width">
    <div>
      <div class="mdc-typography--title">Villes</div>
      <div class="mdc-textfield mdc-textfield--box mdc-textfield--with-leading-icon" data-mdc-auto-init="MDCTextfield">
        <i class="material-icons mdc-textfield__icon" tabindex="0">search</i>
        <input id="villes" type="text" class="mdc-textfield__input custom-textfield-input">
        <div class="mdc-textfield__bottom-line"></div>
      </div>
    </div>
    <div>
      <h2 class="mdc-typography--title">Type de bien</h2>
      {% for type in site.data.properties_types %}
        <div class="mdc-form-field">
          <div class="mdc-checkbox" data-mdc-auto-init="MDCCheckbox">
            <input type="checkbox"
                   id="{{type.name}}"
                   class="mdc-checkbox__native-control"/>
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark"
                   viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark__path"
                      fill="none"
                      stroke="white"
                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
              </svg>
              <div class="mdc-checkbox__mixedmark"></div>
            </div>
          </div>
          <label for="{{type.name}}" id="{{type.name}}">{{type.name}}</label>
        </div>
      {% endfor %}
    </div>
    <div>
      <h2 class="mdc-typography--title">Budget</h2>
      <div class="mdc-form-field">
        <div class="mdc-textfield mdc-textfield--box" data-mdc-auto-init="MDCTextfield">
          <input type="number" class="mdc-textfield__input" id="budget_min" placeholder="Min">
        </div>
      </div>
      <span class="range-separator">-</span>
      <div class="mdc-form-field">
        <div class="mdc-textfield mdc-textfield--box" data-mdc-auto-init="MDCTextfield">
          <input type="number" class="mdc-textfield__input" id="budget_max" placeholder="Max">
        </div>
      </div>
    </div>
    <div>
      <h2 class="mdc-typography--title">Nombre de chambres et salles de bain</h2>
      <div class="mdc-form-field" id="sdb">
        <div class="mdc-select" role="listbox" tabindex="0">
          <span class="mdc-select__selected-text">Vegetables</span>
          <div class="mdc-simple-menu mdc-select__menu">
            <ul class="mdc-list mdc-simple-menu__items">
              <li class="mdc-list-item" role="option" id="grains" tabindex="0">
                Bread, Cereal, Rice, and Pasta
              </li>
              <li class="mdc-list-item" role="option" aria-selected id="vegetables" tabindex="0">
                Vegetables
              </li>
              <li class="mdc-list-item" role="option" id="fruit" tabindex="0">
                Fruit
              </li>
              <li class="mdc-list-item" role="option" id="dairy" tabindex="0">
                Milk, Yogurt, and Cheese
              </li>
              <li class="mdc-list-item" role="option" id="meat" tabindex="0">
                Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts
              </li>
              <li class="mdc-list-item" role="option" id="fats" tabindex="0">
                Fats, Oils, and Sweets
              </li>
            </ul>
          </div>
        </div>
        
      </div>
      <div class="mdc-form-field">
        <div class="mdc-textfield mdc-textfield--box" data-mdc-auto-init="MDCTextfield">
          <input type="number" class="mdc-textfield__input" id="nb_sdb" placeholder="Nombre de salles de bain">
        </div>
      </div>
    </div>
    <div>
      <h2 class="mdc-typography--title">Surface</h2>
      <div class="mdc-form-field">
        <div class="mdc-textfield mdc-textfield--box" data-mdc-auto-init="MDCTextfield">
          <input type="number" class="mdc-textfield__input" id="surface_min" placeholder="Min">
        </div>
      </div>
      <span class="range-separator">-</span>
      <div class="mdc-form-field">
        <div class="mdc-textfield mdc-textfield--box" data-mdc-auto-init="MDCTextfield">
          <input type="number" class="mdc-textfield__input" id="surface_max" placeholder="Max">
        </div>
      </div>
    </div>
    <div>
      <h2 class="mdc-typography--title">Prénom</h2>
      <div class="mdc-form-field">
        <div class="mdc-textfield mdc-textfield--box" data-mdc-auto-init="MDCTextfield">
          <input id="prenom" type="text" class="mdc-textfield__input custom-textfield-input" placeholder="Votre prénom">
        </div>
      </div>
    </div>
    <div>
      <h2 class="mdc-typography--title">Nom</h2>
      <div class="mdc-form-field mdc-textfield--box">
        <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
          <input id="nom" type="text" class="mdc-textfield__input custom-textfield-input" placeholder="Votre nom">
        </div>
      </div>
    </div>
    <div>
      <h2 class="mdc-typography--title">Adresse e-mail</h2>
      <div class="mdc-form-field mdc-textfield--box">
        <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
          <input id="email" type="text" class="mdc-textfield__input custom-textfield-input" placeholder="Votre adresse e-mail">
        </div>
      </div>
    </div>

    <button type="submit"
            class="mdc-button
                   mdc-button--raised
                   mdc-button--primary
                   mdc-ripple-surface"
            data-mdc-auto-init="MDCRipple">
      Print Greeting
    </button>
  </form>

  <!-- The p element below is where we'll eventually output our greeting -->
  <p class="mdc-typography--headline" id="greeting"></p>
</main>
